$header-height:50px;
$content-width: 500px;

$serif-families:"Pacifico","Georgia,serif";
$sans-serif-families:"Helvetica", sans-serif;

$error-text-color: #B94A49;
$sucess-text-color: #468847;


/*@import 'bootstrap';*/

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    margin-bottom: 10px;
    text-align: center;
    p {
      margin: 0;
      margin-top: 10px;
      height: 40px;
      overflow: hidden;
    }
  }
}

/*estilo geral da pagina aqui embaixo*/
*{
    font-family: $sans-serif-families;
    font-size: 14px;
}

/*altera a cor da pagina em geral*/
body {background-color: #ecf0f1

}




/*minin para facilitar a declaração de box-shadow, colocando 
todos os vendor prefixes quando necessario*/
@mixin shadow($color,$x,$y, $radius){
    -moz-box-shadow:    $color,$x,$y, $radius;
    -webkit-box-shadow: $color,$x,$y, $radius;
    box-shadow:         $color,$x,$y, $radius;
}

/*aqui começamos a criar a barra de navegação que fica no topo.
criamos a cor de fundo da barra e uma sombra na parte inferior. crimaos
também o #header_wrap, que é responsável pelo alinhamento do conteúdo
da barra de navegação em conjunto com o conteúdo.*/

header{
    @include shadow(#ccc, 0, 3px, 6px);


    border-bottom: 15px solid #9b59b6;
    margin-bottom: 15px;

    #header-wrap{
        widt: $content-width;
        margin: 0 auto;
    }
    
    height: $header-height;/*aqui escolhemos o tamanho da borda*/
    background-color: #1abc9c;/*aqui escolhemos a cor da borda*/

/*começamos aqui a alterar o esquema das letras, cores*/
    h1{
        float: left;/*reorganiza menu e logotipo dentro do cabeçalho*/
            a{
                text-decoration: none;
                color: #333;
                font-family: 'Dancing Script', cursive;/*font buscada no google fonts*/
                font-weight: 400;
                font-size: 2.5em;
                text-shadow:1px 1px 1px rgba(0,0,0,.9);
                   &:hover {
                        transition: color 1s;
                        text-decoration: none;
                        color: #fff;
                   }
            }
        }
}

/*Segunda parte da barra superior, o estilo do menu de navegaç;o*/

header nav{

    float: right;/*leva menu para canto superior direito*/

    ul{
        display: inline-block;
        vertical-align: middle;
        line-height: 55px;
    }

    li{

        display: inline-block;
        line-height: 24px;
        /*background-color: #546f3c; cor do botao*/
        padding: 3px 10px;/*tamanho e espaçamento dos botoes*/
    }

    -moz-border-radius: 5px;
    border-raidus: 5px;
    vertical-align: middle;

    a{
        text-decoration: none;
        display: block;
        font-size: 17px;/*tamanho da letra do menu*/
        font-weight: 500;
        color: #fff;
        transition: color 1s;
            &:hover{
                color: #333;
            };
    }

}

/*o estilo do conteúdo das páginas ficará dentro da div com id
content*/

#content{
    text-align: left;
    border-top: 1px solid #16a085;
    margin: 0 auto;

    h1{/*aqui muda o titulo principal*/
        font-size: 2em;
        color: #34495e;
        margin: 10px 7px;
    }

    h2{
        font-size: 1.5em;
        color: #34495e;
        margin: 10px 7px;
    }

    a,a:visited, a:hover{
        color: #242;

         &:hover{
            text-decoration:underline;
         }
    }
    p{
        margin: 10px 10px; 
        text-align: justify;
        text-indent: 50px;

    }


    ul, form{
        margin: 10px 10px; 
        text-align: justify;      
    }

input:focus {
        border-color: #35861B;
        box-shadow: 0 0 5px #1abc9c;
        outline: none;
    }
    
}

/*para o formulario, temos o seguinte css:*/
form{

    
    label{
        display: block;
        margin: 5px 0;
        color:#34495e;/*cor da letra do formulario*/
    }

    input[type=text], input[type=password], textarea{
        color: #444;
        font-size: 12px;
        border: 1px solid #ccc;
        padding: 5px;
        width: 200px;
        outline: 0;

        @include shadow(rgba(0,0,0, 0.2), 0px, 0px, 8px);
        &:focus {
            border: 1px solid #1abc9c;
        }
    }

    textarea{
        width: 400px;
        height: 200px;
    }
}

/*classes relacionadas com a informação de erros e flash*/
.fields_with_errors {
    display: inline;

    label { color: $error-text-color; }

    input[type=text], input[type=password], textarea {
        border: 1px solid rgba(189,74,72, 0.5);
        @include shadow(rgba(189,74,72, 0.2), 0px, 0px, 8px);

        &:focus{ border: 1px solid rgba(189,74,72,0.6); }
    }
}

.error_message {
    margin-left: 5px;
    display: inline;
    color: $error-text-color;
}

.padded_flash {
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    width: 500px;
}

#error_explanation{
    border:1px solid $error-text-color;
    color: $error-text-color;
    background-color: #F2DEDE;
    @extend .padded_flash;
}

#notice {
    color: $sucess-text-color;
    border: 1px solid $sucess-text-color;
    @extend .padded_flash;
    background-color: #DFF0D8;
}

#alert {
    color: $error-text-color;
    border: 1px solid $error-text-color;
    @extend .padded_flash;
    background-color: #F2DEDE;
}

.bot{
    background-color: #1abc9c;
    background-image: linear-gradient(to bottom, #1abc9c, #1abc9c);
    border: 1px solid #1abc9c;
    border-radius: 3px;
    color: 000;

    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;

    border: none;
}

.bot:hover {
        transition: color 1s;
        text-decoration: underline;
        background-color: #16a085;
        background-image: linear-gradient(to bottom, #16a085, #16a085);
        border-color: #16a085;
    }

.bot2{
    background-color: #1abc9c;
    background-image: linear-gradient(to bottom, #1abc9c, #1abc9c);
    border: 1px solid #1abc9c;
    border-radius: 3px;
    color: 000;

    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px;
    border: none;
}

.bot2:hover {
        transition: color 1s;
        text-decoration: underline;
        background-color: #16a085;
        background-image: linear-gradient(to bottom, #16a085, #16a085);
        border-color: #16a085;
    }


ul#album{
   
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    list-style: none;
}

ul#album li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition:all 0.5s ease-in;
}

ul#album li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
    background-color: rgba(0,0,0,.3);
}

ul#album li:hover {
    -webkit-transform:scale(1.3);
}

ul#album li:hover span{
    opacity: 1;
}

ul#album li#foto01{
    background-image:image-url("Armando.jpg"); 
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto02{
    background-image:image-url("Rafael.jpg"); 
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto03{
    background-image:image-url("Allan.jpg"); 
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto04{
    
    background-image:image-url("Lucas.jpg"); 
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto05{
  
    background-image:image-url("Joaquim.jpg"); 
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto06{
  
    background-image:image-url("Diego.jpg"); 
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}

section#corp{
    display: block;
    
}


footer#rodape p{
    text-align: center;
}






