<h1><%= t '.title', user_name: @user.full_name %></h1>

<ul>
	<li><%= t '.email', email: @user.email %></li>
	<li><%= t '.cpf', cpf: @user.cpf %></li>
</ul>

<%= link_to t('.edit'), edit_user_path(@user) %>