

<section id="corp">
<h1>O que é OCR?</h1>	



<div id = "corpo">    <p>Reconhecimento Óptico de Caracteres, ou OCR, é uma tecnologia que permite converter tipos diferentes de documentos, como papeis escaneados, arquivos em PDF e imagens capturadas com câmera digital em dados pesquisáveis e editáveis.

</br><p>Imagine que você possui um documento em papel – por exemplo, um artigo de revista, uma brochura, um contrato em PDF que um parceiro enviou por email. Obviamente, o scanner não é suficiente para disponibilizar essa informação para edição, digamos, no Microsoft Word. Tudo o que um scanner pode fazer é criar uma imagem ou um retrato do documento, que não é nada mais do que uma coleção de pontos em preto e branco ou coloridos, conhecidos como imagem formada por linhas. Para extrair e recolocar os dados em documentos escaneados, imagens de câmera ou PDFs, você precisa de um software de OCR que separe as letras da imagem, coloque-as em palavras e então em sentenças, permitindo que você acesse e edite o conteúdo do documento original.</p>


<h2> Qual tecnologia está por trás do OCR? </h2>

<p>Os mecanismos exatos que permitem aos seres humanos reconhecer objetos ainda estão para serem entendidos, porém, os três princípios básicos são bem conhecidos pelos cientistas – integridade, fim e adaptabilidade (IPA*). Esses princípios constituem o centro do ABBYY FineReader OCR permitindo que ele replique reconhecimento natural como o ser humano.</p>
<p>Vamos ver como o FineReader - aplicativo OCR poderoso - reconhece texto. Primeiro, o programa analisa a estrutura da imagem do documento. Ele divide a página em elementos como blocos de texto, tabelas, imagens, etc. As linhas são divididas em palavras e, então, em caracteres. Uma vez separados os caracteres, o programa compara-os com um conjunto de imagens padrão. Ele avança inúmeras hipóteses sobre esse caractere. Com base nessas hipóteses, o programa com tecnologia OCR analisa variantes diferentes de quebra de linhas em palavras e palavras em caracteres. Após processar um enorme número de tais hipóteses prováveis, o programa finalmente age e toma uma decisão, apresentando o texto reconhecido.
* IPA</p>

<h2>Como usar o software de OCR?</h2>

<p>Usar um aplicativo OCR - e especialmente ABBYY FineReader - é fácil: o processo geralmente consiste em três estágios: Abrir (Scan) o documento, Reconhecê-lo e então Salvá-lo em um formato conveniente (DOC, RTF, XLS, PDF, HTML, TXT etc.) ou exportar os dados diretamente para uma das aplicações do Office como Microsoft Word, Excel ou Adobe Acrobat.</p>
<p>Além disso, a última versão do ABBYY FineReader suporta o modo de Tarefas Automáticas, que é basicamente quando você lida com rotinas regularmente. Com esse recurso, as tarefas de reconhecimento rodam automaticamente sem ter que executar manualmente todos os passos mencionados anteriormente. 
Todo o processamento de conversão de dados de um documento em papel original, imagem ou PDF leva menos de um o documento reconhecido final fica igual ao original! Tecnologia OCR é realmente maravilhosa!</p>


</div>

</section>