

<section id="corp">
<h1>O que é OCR?</h1>	



<div id = "corpo">    <p>Reconhecimento Óptico de Caracteres, ou OCR, é uma tecnologia que permite converter tipos diferentes de documentos, como papeis escaneados, arquivos em PDF e imagens capturadas com câmera digital em dados pesquisáveis e editáveis.

</br><p>Imagine que você possui um documento em papel – por exemplo, um artigo de revista, uma brochura, um contrato em PDF que um parceiro enviou por email. Obviamente, o scanner não é suficiente para disponibilizar essa informação para edição, digamos, no Microsoft Word. Tudo o que um scanner pode fazer é criar uma imagem ou um retrato do documento, que não é nada mais do que uma coleção de pontos em preto e branco ou coloridos, conhecidos como imagem formada por linhas. Para extrair e recolocar os dados em documentos escaneados, imagens de câmera ou PDFs, você precisa de um software de OCR que separe as letras da imagem, coloque-as em palavras e então em sentenças, permitindo que você acesse e edite o conteúdo do documento original.</p>


</div>

</section>