
<ul id="album">

	<li id="foto01"><span>Gerente: Armando Sousa</span></li>

	<li id="foto02"><span>Desenvolvedor: Rafael Marciel</span></li>

	<li id="foto03"><span>Devenvolvedor: Allan Melão</span></li>

	<li id="foto04"><span>Desenvolvedor: Lucas Sena</span></li>

	<li id="foto05"><span>Desenvolvedor: Joaquim Alves</span></li>

	<li id="foto06"><span>Participação: Diego Linhares</span></li>

</ul>
