<h1>Show</h1>

<div class="row" id="photos-list">
	<%= image_tag(@photo.image.thumb('450x300#').url) %>
</div>

<div>
	<%= link_to 'OCR TEMPLATE', controller: "ocr", action: "template", id: @photo.id%>
	<%= link_to 'OCR FULL', controller: "ocr", action: "full", id: @photo.id %>
</div>


