<h1>Visualização</h1>

<%= image_tag(@photo.image.thumb('450x300#').url, :class => "shadow-border") %>


<ul class="list-inline", style="margin-top: 20px;">
	<li><%= button_to 'OCR TEMPLATE', {controller: "ocr", action: "template", id: @photo.id}, {:class => "btn btn-success"} %></li>
	<li><%= button_to 'OCR FULL', {controller: "ocr", action: "full", id: @photo.id}, {:class => "btn btn-success"} %></li>
</ul>


